$color-white: #fefefe;
$color-gray-light: #bfbfbf;
$color-gray-medium: #808080;
$color-gray-dark: #404040;
$color-black: #010101;

$color-red: #c03;
$color-orange: orange;
$color-yellow: #fc0;
$color-green: #690;
$color-teal: #096;
$color-blue: #069;
$color-purple: #609;

$weight-light: 300;
$weight-medium: 500;
$weight-heavy: 700;

$font-mono: "Consolas, monospace";
