footer {
    background: $color-gray-light;
    height: 4rem;
    flex-shrink: 0;

    & div {
        @include container;
        text-align: center;
        font-size: 1.2rem;
        line-height: 2rem;
    }
}
